<%- include('header') %>
<h1>Profile</h1>
<div>
  <p>
    <% user.name %> <% user.username %> <% user.phone %> <% user.email %> <%
    user.address %>
  </p>
</div>
<br />
<a href="/">Back to Account Summary</a>
<%- include('footer') %>
